@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Acest site este unul special.</p>

<p>Copierea continutului este strict interzisa si se pedepseste aspru conform legii copyrightului!</p>
